<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ephemerisfunctions20230228132550.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3205f142-7447-4444-a1f0-37607293994b/resourcegroups/examprep-ng/providers/Microsoft.Web/sites/EphemerisFunctions20230228132550</ResourceId>
    <UserName>$EphemerisFunctions20230228132550</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ephemerisfunctions20230228132550.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>